/* estilos generales de main */
html {
	box-sizing: border-box;
	font-family: Arial, sans-serif;
   font-size: 16px;
}
*,*::after,*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
body {
	background-color: #0a0c1b;

   /* background: url(../img/pajro.jpg) no-repeat ,linear-gradient(50deg, rgba(0,0,0,0.4) 0%, rgba(234,234,234,1)) 100%; */
}
/* estilos generales de main */
.contenedor-main {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}
.text-color {
   color: #8f57b5;
  font-weight: bold;
}
/* inicio titulo web */
.titulo-web {
  font-size: 35px;
  color: #fff;
  text-align: center; }

/* final titulo web */
/* inicio */
.contenedor {
  width: 365px;
  border-radius: 15px;
  background-color: #1c2142;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.contenedor-carta {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* width: 350px; */
  height: 450px;
  overflow: hidden;
  text-align: center;
}
.contenedor-carta:nth-child(1) {
  height: 600px;
  order: 2;
  padding: 20px;
}
.contenedor-carta:nth-child(2) {
  order: 1;
}
.carta-titulo {
  color: #fff;
  font-size: 2em;
  display: inline-block;
  height: 100px;
}
.titulo {
  margin: 20px 0;
}
.carta-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
  line-height: 1.5;
  color: #b5b1b1;
}
.carta-img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px 15px 0 0;
  position: relative;
}
.capa {
  position: absolute;
  background-color: #57118648;
  width: 365px;
  height: 450px;
  border-radius: 15px 15px 0 0;
}
.carta-resuls {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.carta-resuls--ilem {
  text-align: center;
  font-size: 2em;
  color: #fff;
  margin: 10px 0;
}

/* Media Queries */
/* @media screen and (min-width: 678px) {
  .-services {
    flex-direction: row;
    padding: 35px
    margin: 20px;
}*/