/* estilos generales de main */
html {
	box-sizing: border-box;
	font-family: Arial, sans-serif;
   font-size: 16px;
   background-color: #000;
}
*,*::after,*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
.contenedor-main {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.content-main {
  margin-bottom: 15px; }

.text-bold {
  font-weight: bold; }
.text-blbanco {
  color: #fff;
}
/* estilos generales de base */
i {
  color: #fff;
}
ul {
  display: inline-block;
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
/* estilos generales de base */
.main-header {
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
}

/* inicio titulo empresa */
.titulo-empresa {
  font-size: 35px;
  text-align: center; }

/* final titulo empresa */
/* inicio meun */
.contenedor-menu {
  display: flex;
  justify-content: center;
  align-items: center; }

.header-menu {
  display: flex;
  flex-flow: wrap;
  font-size: 20px;
}
.menu-main {
 display: flex;
}

.main-menu- {
  display: flex;
  width: 100%; }

.main-menu__link {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 15px; }
/* final menu icon */
.menu-main- {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 350px;
}

.icono {
  font-size: 24px;
}
.icono-campana {
  position: relative;
}
.texto-campana {
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 28px;
  font-size: 18px;
  left: 1195px;
}
.icono-flecha {
  font-size: 20px;
}

h1 {
  text-align: center;
}
video {
  width: 100%;
  height: 100vh;
  position: relative;
}
p {
  color: #fff;
  font-size: 1.5em;
}
button {
  font-size: 24px;
  width: 50%;
  height: 50px;
}
.caja {
  display: flex;
  flex-flow: wrap column;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, .3);
  color: #fff;
  width: 250px;
  height: 250px;
  position: absolute;
  top: 200px;
  left: 150px;
}
.titulo {
  margin: 10px;
  font-size: 1.3em;
}
.icono-video {
  margin-right: 10px;
  font-size: 1.5em;
}

.subtitulo {
  text-align: center;
}
.contenedor-botnes {
  display: flex;
  width: 100%;
}