/* estilos generales de main */
html {
	box-sizing: border-box;
	font-family: Arial, sans-serif;
   font-size: 16px;
   background-color: #000;
}
*,*::after,*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
.contenedor-main {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.text-bold {
  font-weight: bold;
}
/* estilos generales de base */
ul {
  display: inline-block;
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
/* estilos generales de base */
/* inicio titulo web */
.titulo-web {
  font-size: 35px;
  color: #fff;
  text-align: center; }

/* final titulo web */
/* inicio services */
.contenedor-services {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titulo-services {
  margin: 10px 0;
  font-size: 35px;
  font-weight: 100;
}
.caja {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2b7cfb;
  width: 340px;
  height: 225px;
}
.contenedor-carta-services {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 350px;
  height: 450px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin: 10px;
  text-align: center;
  transition: all 0.25s ease;
  padding: 35px;
}
.carta-titulo-services {
  font-size: 1.2em;
}
.carta-img-services {
  width: 250px;
  height: 180px;
  margin: 5px;
}
.carta-data-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 1.5;
}
.carta-data-link {
  height: 50px;
  margin: 5px 0;
  border: 1px solid #fd7106;
  border-radius: 5px;
  padding: 1rem;
  text-align: center;
}

.services--ilem {
  background-color: #006dc6;
  display: inline-block;
  width: 350px;
}
.contenedor-carta-services:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
}