/* estilos generales de main */
html {
	box-sizing: border-box;
	font-family: Arial, sans-serif;
   font-size: 16px;
}
*,*::after,*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
ul {
  display: inline-block;
  list-style: none;
}
h1 {
  text-align: center;
}
#contenedor-main {
  background-color: lightskyblue;
}
.contenedor-lista {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.carta-lista {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: blanchedalmond;
  width: 250px;
  margin: 10px;
}
.item {
  font-size: 24px;
  text-align: center;
}
.item-icono {
  width: 50px;
  height: 50px;
  margin: 10px;
  line-height: 50px;
  text-align: center;
  border: 3px solid gold;
  border-radius: 50%;
}